.choice1,
.choice2,
.choice3,
.choice4 {
  outline-style: solid;
  outline-color: white;
  border-color: rgb(203, 208, 211);
  border-radius: 5%;
  width: 800%;
  margin-top: 30%;
  margin-bottom: 2%;
  height: 40%;
  padding-bottom: 25%;
  margin-left: -260%;
}
.choices {
}
.choice1:focus,
.choice2:focus,
.choice3:focus,
.choice4:focus {
  border: 2px rgb(29, 161, 242) solid;
}
.choice1::placeholder,
.choice2::placeholder,
.choice3::placeholder,
.choice4::placeholder {
  font: 30%;
  font-style: inherit;
  margin-top: 6%;
  padding-top: 4%;
}
.poll_heading {
  font-size: 95%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  margin-top: -46%;
  margin-bottom: 12%;
  margin-left: -116%;
}
.days_heading {
  font-size: 95%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  color: rgb(115, 115, 115);
  margin-right: 20%;
  margin-left: -130%;
  padding-left: 20%;
  margin-top: -26%;
}
.dayscont {
  border-radius: 5%;
  margin-right: -30%;
  margin-left: -5%;
  margin-top: 30%;
}
.hours_heading {
  font-size: 95%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  color: rgb(115, 115, 115);
  margin-right: -7%;
  margin-top: 32%;
  padding-top: 7%;
  padding-bottom: 13%;
  margin-left: -110%;
  margin-bottom: -3%;
  padding: 5%;
}
.hourscont {
  border-radius: 5%;
  margin-left: 20%;
  margin-right: -100%;
  margin-top: -19.5%;
  margin-bottom: 1.5%;
  margin-top: -48%;
}
.minutes_heading {
  font-size: 95%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  color: rgb(115, 115, 115);
  margin-left: -150%;
  margin-top: -23%;
}
.minutescont {
  margin-top: -10%;
  border-radius: 5%;
  margin-right: -100%;
  padding-left: 40%;
}
.selecting:focus {
  outline-color: rgb(29, 161, 242);
}
.Days {
  border: none;
  width: 150%;
  margin-left: -110%;
  margin-top: 2%;
  width: 20%;
}
.minutes {
  border: none;
  margin-left: -150%;
  width: 30%;
  margin-top: 6%;
}
.minutes:focus,
.Days:focus,
.hours:focus {
  outline: none;
}
.hours {
  border: none;
  margin-left: -105%;

  width: 20%;
}
.tweetbutton_for_poll {
  width: 18%;
  height: 18%;
  margin-left: -130%;
  margin-top: 7%;
  margin-bottom: -20%;
}
.remove_poll {
  border-color: transparent;
  background-color: white;
  margin-left: -119.5%;
  margin-right: 114%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: -30%;
  padding-left: 19%;
  padding-right: 19%;
  margin-top: -90%;
  border-width: 20%;
  color: red;
  border-top: solid 1px rgb(203, 208, 211);
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  width: 99%;
}
.remove_poll:hover {
  background-color: rgb(252, 219, 219);
}
.IconAdd {
  width: 5%;
  height: 5%;
  margin-left: -35%;
  margin-bottom: 148%;
  padding-top: 140%;
  margin-top: -200%;
}
.Iconsblur {
  display: flex;
  direction: row;
  margin-left: -120%;
  margin-top: 8%;
}
.Mediablur {
  width: 22%;
  height: 22%;
  margin-left: -10%;
  padding-left: -20%;
}
.Pollblur {
  width: 22%;
  height: 22%;
  margin-left: -60%;
}
.Gifblur {
  width: 22%;
  height: 22%;
  margin-left: -110%;
  margin-top: 3%;
}
.Scheduleblur {
  width: 25%;
  height: 25%;
  margin-left: -160%;
  margin-top: -1%;
}
.Happyfaceblur {
  width: 23%;
  height: 23%;
  margin-left: -210%;
  margin-top: 2%;
}
.Inputbox_for_poll {
  width: 100%;
  height: 90%;
  margin-top: 25%;
  border: none;
  outline: none;
  margin-left: -120%;
  margin-bottom: 3%;
}
.Inputbox_for_poll::placeholder {
  font-size: 140%;
  padding-top: -2%;
}
.profile_picture_poll {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  margin-left: 13%;
  margin-top: -1%;
}
.poll {
  border: solid 1px;
  border-color: rgb(203, 208, 211);
  margin-left: -120%;
  padding-bottom: 35%;
  margin-top: -1%;
  margin-bottom: 13%;
  border-radius: 4%;
  padding-right: 60%;
  padding-left: 30%;
  border-width: 120%;
}
.selectors {
  border-bottom: solid 1px;
  border-color: rgb(203, 208, 211);
  margin-left: -60%;
  margin-top: -30%;
}
