.image-upload_img > input {
  display: none;
}

.image_to_beuploaded {
  width: 450px;
  height: 350px;
  border-radius: 20px;
}
.cont_img_textbox {
  display: flex;
  flex-direction: column;
}
.cont_of_images2 {
  display: flex;
}
.image1_to_beuploaded2 {
  width: 250px;
  height: 370px;
  border-radius: 20px;
}
.image2_to_beuploaded2 {
  width: 250px;
  height: 370px;
  border-radius: 20px;
  margin-left: 37%;
}

.cont_of_images3 {
  display: flex;
  margin-bottom: 00%;
}
.image1_to_beuploaded3 {
  width: 230px;
  height: 335px;
  border-radius: 20px;
  margin-left: 0%;
}
.cont_of_images3_secoundtwoimages {
  display: flex;
  flex-direction: column;
}
.image2_to_beuploaded3 {
  width: 225px;
  height: 160px;
  border-radius: 20px;
  margin-left: 27%;
}
.image3_to_beuploaded3 {
  width: 225px;
  height: 160px;
  border-radius: 20px;
  margin-top: 25%;
  margin-left: -73%;
}

.cont_of_images4_first_two_images {
  display: flex;
  margin-top: -2%;
}
.image1_to_beuploaded4 {
  width: 250px;
  height: 180px;
  border-radius: 20px;
  margin-top: 0%;
  margin-left: -2%;
}
.image2_to_beuploaded4 {
  width: 250px;
  height: 180px;
  border-radius: 20px;
  margin-left: 37%;
}
.cont_of_images4_secound_two_images {
  display: flex;
}
.image3_to_beuploaded4 {
  width: 250px;
  height: 180px;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: -2%;
}
.image4_to_beuploaded4 {
  height: 180px;
  width: 250px;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 38%;
}
