.profile__data {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 600px;

}
.profile__head {
    height: auto;

}
#profilepic {
    margin: -67.5px 0px 20px 20px;
    border: 5px solid white;
}

#coverpic {
    max-height: 200px;
}


.profile__body {
    height: auto;
    padding-left: 20px;
    
}

.profile__footer {
    height: auto;
    padding-top: 10px;
    display: flex;
    
}

.more__info {
    display: flex;
    padding-bottom: 10px;
    /* max-width: 60ch;
    word-wrap: break-word; */
}

.User__name {
    padding-top: 10px;
    padding-bottom: 10px;
}

.location {
    display: flex;
    width : 100%;
    padding-right:2px ;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

.follow__section {
    font-weight: 500;
    font-size: 14px;
    color: gray;
}