.SideBarAdminIcons{
    display: flex;
    flex-direction: column;
    padding:16px;
    position: sticky;
    display: block;
    height: 100vh;
   
}
@media (max-height: 410px) {
    .SideBarAdminIcons {
      overflow-y: scroll
    }
  } ;