#posting_a_tweet {
  align-items: flex-start;
  border-bottom: 1px solid rgb(245, 248, 250);
  padding-bottom: 30px;
  flex: 1;
  padding: 10px;
}

.ProfilePicture {
  border-radius: 100%;
}
.profile_picture {
  margin-top: 2%;
}
.inputtext {
  border: none;
  outline: none;
  margin-top: -4%;
  margin-left: 10%;
  font-size: 100%;
  width: 80%;
  resize: none;
  cursor: text;
}
.inputtext::placeholder {
  font-size: 140%;
}

.home_heading {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 130%;
  color: black;
  text-align: left;
  height: 53px;
  opacity: 90%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border: 1px solid white;
}

.Media {
  color: rgb(29, 161, 242);
  cursor: pointer;
  margin-left: -310%;
}
.MediaTweetButton {
  color: rgb(29, 161, 242);
  cursor: pointer;
  margin-left: -230%;
}
.Poll {
  color: rgb(29, 161, 242);
  cursor: pointer;
  margin-left: -6%;
}
.Gif {
  color: rgb(29, 161, 242);
  cursor: pointer;
  margin-left: -250%;
}
.emoji {
  cursor: pointer;
  color: rgb(29, 161, 242);
  margin-left: 0%;
}
.Schedule {
  cursor: pointer;
  color: rgb(29, 161, 242);
  margin-left: -245%;
}
.iconsfooter {
  border-bottom: 1px solid rgb(241, 242, 243);
  display: flex;
  justify-content: space-between;

}
.emoji_in_reply
{
  cursor: pointer;
  color: rgb(29, 161, 242);
  margin-left: 28%;
}
#file-input {
  display: none;
}
.icons {
  display: flex;
}
.cont3 {
  display: flex;
  flex-direction: column;
}
.inputtext_tweet_popuppage {
  border: none;
  outline: none;
  margin-bottom: 10%;
  margin-top: -12%;
  margin-left: 15%;
  font-size: 100%;
  width: 80%;
  resize: none;
  cursor: text;
}
.inputtext_tweet_popuppage::placeholder {
  font-size: 140%;
}

/* .emoji-picker-react .emoji-group {
  clear: both;
  padding-left: 10px;
  padding-right: 150px;
  margin-left:0%;
  /* list-style: none; */
/* display: flex;
  /* flex-flow: row wrap; */
/* flex-direction: row;
  align-items:stretch; */
/* } */
