/*Note: transfer the feeder, widgets, search, whats happening, who to follow to the css file of components*/

* {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.layout {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  /*245 248 250*/
}

.feeder {
  flex: 2;
  border-right: 1px solid rgb(245, 248, 250);
  padding: 32px;
  text-align: center;
}
.widgets {
  flex: 1.79;
  padding: 32px;
  border-right: 1px solid rgb(245, 248, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.search {
  border: 2px solid rgb(245, 248, 250);
  text-align: center;
}
.whatsHappening {
  border: 2px solid rgb(245, 248, 250);
  text-align: center;
}
.whoToFollow {
  border: 2px solid rgb(245, 248, 250);
  text-align: center;
}
