/*Note: transfer the feeder, widgets, search, whats happening, who to follow to the css file of components*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
.layout {
  background-color: rgb(255, 255, 255);
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  
}

.feeder {
  flex: 0.5;
  border-right: 1px solid rgb(245, 248, 250) ;
  height: auto ;
  text-align: left ;
}
.widgets {
  flex: 0.3;
  border-right: 1px solid rgb(245, 248, 250);
  height: auto;
  text-align: left;
  border-right: 1px solid rgb(245, 248, 250);
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  flex-direction: column;
  align-content: center;
}
.search {
  border: 2px solid rgb(245, 248, 250);
  text-align: center;
  position: sticky;
  top: 0;
}
.whatsHappening {
  border: 2px solid rgb(245, 248, 250);
  text-align: center;
}
.whoToFollow {
  border: 2px solid rgb(245, 248, 250);
  text-align: center;
  position: sticky;
  top: 0;
}
