.whotofollow_heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  color: black;
  text-align: left;
  height: auto;
  border: 1px solid white;
  margin-left: 2%;
}
.Suggested_heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 130%;
  color: black;
  text-align: left;
  height: auto;
  border: 1px solid white;
  margin-top: 4%;
}
.connect_heading {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 130%;
  color: black;
  text-align: left;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border: 1px solid white;
  margin-left: -84%;
  margin-top: 2%;
}
.cont1 {
  display: flex;
}
