.exploreHeader {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: black;
    text-align: left;
    height: 110px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid white;
    opacity: 90%;
    padding: 0px  !important;
    width: 600px;
    cursor: pointer;
  }
  .exploreText {
    margin-top: 5px;
  }
  .exploreSettingsButton {
    width: 40px;
    height: 70%;
    margin-top: 20px;
    background-color: white;
    border: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.25s;
    color: black !important;
    padding-top: 50px;
  }
  .button_area
  {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .exploreLink {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  .exploreSettingsButton:hover {
    background-color: rgb(225, 232, 237);
  }
 .exploreHeader_settings
 {
     display: flex;
 }
  .Tabs_explore{
      display:flex;
      flex-wrap: wrap;
      width: auto;
  }
  .explore_searchBox{
      margin-bottom: 20px;
      width: 600px;
      margin-top: 3px;
  }
  .exploreHeader_settings_menu
 {
    padding: 10px;
    border: 1px solid rgb(225, 232, 237);
    border-radius: 300px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
  }
  
  .exploreHeader_settings_menu:hover
  {
        background-color: rgb(225, 232, 237);
    
 }
 .exploreHeader_settings_menu_p1
 {
     font-size: larger;
     padding-bottom: 20px;
 }
 .exploreHeader_settings_menu_p2
 {
    color: rgb(101, 119, 134);
    font-size: small;
 }