.icon {
  padding: 10px;
  border-radius: 300px;
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.icon:hover {
  background-color: rgb(225, 232, 237);
  font-weight: 600;
}

/*the class for material ui is .MuiSvgIcon-root*/


.icon > h4 {
  font-weight: 100;
  margin-left: 20px;

}
.icon-active > h4 {
  font-weight: 600;
}

@media (max-width: 640px) {
  h4 {
    display: none;
  }
  .icon {
    border-radius: 50%;
    width: 50px;
    margin-left: 16px;
  }

  .icon .MuiSvgIcon-root {
    margin-left: 2.5px;
  }
}

