.icon {
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 300px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.icon:hover {
  background-color: rgb(225, 232, 237);
  font-weight: 900;
}

/*the class for material ui is .MuiSvgIcon-root*/
.icon .MuiSvgIcon-root {
  margin-right: 20px;
}

.icon > h4 {
  font-weight: 100;
}
.icon-active > h4 {
  font-weight: 600;
}
