* {
  font-family: Helvetica Neue, Arial, sans-serif;
}

.sideBarParent {
  flex: 0.2;
  border-right: 1px solid rgb(245, 248, 250);
  height: auto;
}
.sideBar {
  width: auto;
  position: sticky;
  padding: 20px;
  display: block;

  padding-top: 0;
  padding-top: 12px;
  display:flex;
  flex-direction: column;
  top: 0;
  height: 100vh;
  
}
.logo {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color: rgb(29, 161, 242);
  padding: 4px;
  padding-right: 10px;
  margin: 4px;
  width: 100%;
  border-radius: 4px;
  height: auto;
  text-align: left;
}
.tweetButtonSideBar {
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 300px;
  color: white;
  background-color: rgb(29, 161, 242);
  border: 0px;
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s;
}

.tweetButtonSideBar:hover {
  background-color: rgb(40, 151, 219);
}
@media (max-height: 410px) {
  .sideBar {
    overflow-y: scroll
  }
} ;