* {
  font-family: Helvetica Neue, Arial, sans-serif;
}
.sideBar {
  flex: 0.8;
  border-right: 1px solid rgb(245, 248, 250);
  padding: 20px;
  padding-left: 60px;
  padding-top: 12px;
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color: rgb(29, 161, 242);
  padding: 4px;
  padding-right: 10px;
  margin: 4px;
  width: 100%;
  border-radius: 4px;
  height: auto;
  text-align: left;
}
.tweetButtonSideBar{
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 300px;
  color: white;
  background-color: rgb(29, 161, 242);
  border: 0px;
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s;
}

.tweetButtonSideBar:hover{
  background-color: rgb(40, 151, 219);
}

