* {
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
    .profile_picture_srch{
      margin-left: 30px;
      border-radius: 40%;
      height:50px;
      width:50px;
      object-fit: contain;
      padding-right: 10px;
  }
  
  .searchCard{
    display: flex;
    padding: 15px;
    height: auto;
  }
    
  .Headingg
  {
     font-family:Arial, Helvetica, sans-serif;
      font-size:120%;
      color:black;  
      position:sticky;
      margin-left:2.5%;
      margin-top:1.5%;
      
     
  }
   
    
   .searchBox{
     
      position: relative;
      border: none;
      border-radius: 0px 50px 50px 0px;
      height:43px;
      width: 700px;
      padding-left:20px;
      background-color: #EFF3F4;
      border-color: #45A1DF;
      
   }
  
  
  
   .searchIcon{
     display: flex;
    
    border-radius: 50px 0px 0px 50px;
    padding-left: 10px;
    padding-top: 2px;
    border-width: 0px;
    height:25px;
    width: 30px;
    background-color: #EFF3F4;
    position: relative; 
    margin: auto;
   }
  
   .searchContainer{
      display: flex;
      vertical-align: top;
      height: 43px;
      width: 50px;
      position: relative;
      left: 50px;
      top: 5px;
      border-radius: 50px 0px 0px 50px;
      border-color: #45A1DF;
      background-color: #EFF3F4;
  
   }

   .followButton{
    width: 100%;
    padding: 10px;
    border-radius: 300px;
    width: 90px;
    height: 32px;
    font-size: 13px;
    border: none;
    background-color: black;
    text-align: center;
    color: white;
    margin: auto;
    font-weight: bold;
   
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: background-color 0.25s;
   }
  
 
.moreOptions{
    
    position: relative;
    text-align: right;
    right: 15px;
    top: 15px;


}   

.searchTop{
    display: flex;
    height: 40px;
    width: 500px;
    margin-bottom: 10px;
   }
  
   .line{
     display: inline-block;
     vertical-align: auto;
    background-color: rgb(29, 155, 240);
    width: 30px;
    height: 4px;
    align-self: center;
    column-gap: 40px;
  }

  .arrowBack{
    display: flex;
    position: relative;
    left: 38px;
    margin-top: 15px;
    width: 50px;
  }
  
  .searchFilter{

    max-width: 500px;
    width: auto;
    height: auto;
    padding-top: 5px;
  }
  
  .SearchData{
    display:flex;
    flex-direction: column;
    font-size: 15px;
  }

  .searchPage{
    margin-left: 40px;
    padding-left: 10px;
    width: auto;
    max-width: 600px;

  }