.arrow-back {
  position: fixed;
  margin-top: 20px;
  margin-left: 15px;
}
.arrow-back:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  border: 1px solid rgb(236, 236, 236);
  cursor: pointer;
}
.header-password {
  margin-top: 20px;
  margin-left: 70px;
  font-size: 22px;
}
.current-password {
  width: 600px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
  position: fixed;
  margin-top: 30px;
  margin-left: 20px;
}
.current-password::placeholder {
  font-size: 18px;
}
.current-password:focus {
  border: 1px solid #00acee;
}
.forgot-password {
  position: fixed;
  color: #00acee;
  margin-top: 92px;
  margin-left: 25px;
  font-size: 13px;
}
.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}
.line-password {
  opacity: 10%;
  margin-top: 120px;
}
.new-password {
  width: 600px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
  position: fixed;
  margin-top: 30px;
  margin-left: 20px;
}
.new-password::placeholder {
  font-size: 18px;
}
.new-password:focus {
  border: 1px solid #00acee;
}
.confirm-password {
  width: 600px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
  position: fixed;
  margin-top: 110px;
  margin-left: 20px;
}
.confirm-password::placeholder {
  font-size: 18px;
}
.confirm-password:focus {
  border: 1px solid #00acee;
}
.line2-password {
  opacity: 10%;
  margin-top: 210px;
}
.info-password {
  position: fixed;
}
.save-password {
  position: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 550px;
  display: block;
  width: 80px;
  height: 35px;
  outline: none;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 15px;
  color: rgb(78, 78, 78);
  background: #1da1f2;
  color: #fff;
}
.save-password:hover {
  background: #1f94dd;
  cursor: pointer;
}
#message {
  margin-left: 20px;
  margin-top: 20px;
}
