/*Styling Login Page*/
.backf2 {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 90%;
}
.containerf2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 450px;
  height: 650px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.h1f2 {
  margin-top: -500px;
  position: fixed;
  text-align: center;
}
.googlebtnf2 {
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  transition: all 0.2s ease;
  margin-top: -370px;
  position: fixed;
}
.facebookbtnf2 {
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  transition: all 0.2s ease;
  margin-top: -240px;
  position: fixed;
}
.orf2 {
  width: 62%;
  opacity: 60%;
  text-align: center;
  border-bottom: 1px solid rgb(234, 233, 233);
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-left: 8px;
  position: fixed;
  margin-top: -145px;
}
.orf2 > .linef2 {
  background: #fff;
  padding: 0 10px;
}
.boxf2 {
  margin-top: -70px;
  width: 300px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
  position: fixed;
}
.boxpf2 {
  margin-top: 80px;
  width: 300px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
  position: fixed;
}
.nextbtnf2 {
  color: white;
  width: 300px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  transition: all 0.2s ease;
  position: fixed;
  margin-bottom: -220px;
  margin-top: 20px;
}
.forgetf2 {
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  transition: all 0.2s ease;
  position: fixed;
  margin-bottom: -340px;
}
.accountf2 {
  position: inherit;
  margin-bottom: -450px;
  text-align: center;
}
.af2 {
  color: #00acee;
  text-decoration: none;
}
.closef2 {
  margin-bottom: 580px;
  margin-left: -400px;
  color: grey;
}
/*Hovering*/
.closef2:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  border: 1px solid rgb(236, 236, 236);
}
.googlebtnf2:hover {
  background: #1f94dd16;
  cursor: pointer;
}
.facebookbtnf2:hover {
  background: #b7b7b742;
  cursor: pointer;
}
.boxf2:focus {
  border: 1px solid #00acee;
  font-size: 18px;
}

.boxpf2:focus {
  border: 1px solid #00acee;
  font-size: 18px;
}
.nextbtnf2:hover {
  background: #292929f7;
  cursor: pointer;
}
.forgetf2:hover {
  background: #b7b7b742;
  cursor: pointer;
}
.af2:hover {
  text-decoration: underline;
}
/*Icons*/
.visiblef2 {
  margin-left: 270px;
  margin-top: 100px;
  position: fixed;
  cursor: pointer;
}
.visiblef2:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 60%;
  border: 1px solid rgb(236, 236, 236);
  width: 5%;
}
