@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Styling Start Page*/
* {
  font-family: "Lato", sans-serif;
}
body {
  background-color: #fff;
}
.Start {
  overflow: hidden;
}
.backf1 {
  width: 1250px;
}
.rightf1 > .backf1 {
  transform: translate(-10%, -1%);
}
.upf1 {
  display: flex;
}
.h1f1 {
  font-size: 90px;
  margin-top: 165px;
}
.h3f1 {
  font-size: 45px;
  margin-top: 50px;
}
.leftf1 {
  margin-left: -100px;
  margin-top: -20px;
}
.signupgooglef1 {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 15px;
  color: rgb(78, 78, 78);
}
.signupfacebookf1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  display: block;
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 15px;
  color: rgb(70, 70, 70);
}
.pf1 {
  width: 37%;
  text-align: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-left: 20px;
  opacity: 70%;
}
.pf1 > .spf1 {
  background: #fff;
  padding: 0 10px;
}
.signupf1 {
  margin-bottom: 20px;
  margin-left: 10px;
  display: block;
  width: 300px;
  height: 40px;
  outline: none;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 15px;
  color: rgb(78, 78, 78);
  background: #1da1f2;
  color: #fff;
}
.terms {
  font-size: 11px;
  margin-left: 15px;
  line-height: 13px;
}
.tos {
  text-decoration: none;
  color: #1da1f2;
}
.tos:hover {
  text-decoration: underline;
}
.alreadyf1 {
  margin-top: 100px;
  font-size: 20px;
}
.loginf1 {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 15px;
  color: #1da1f2;
}
.a1f1 {
  text-decoration: none;
  font-size: 14px;
  color: #536471;
  margin: 20px 20px;
  margin-right: 22px;
}
.a1f1:hover {
  text-decoration: underline;
}
.copyf1 {
  margin-top: 5px;
  color: #536471;
  text-align: center;
}
.signupfacebookf1:hover {
  background: #1f94dd16;
  cursor: pointer;
}
.loginf1:hover {
  background: #1f94dd16;
  cursor: pointer;
}
.signupf1:hover {
  background: #1f94dd;
  cursor: pointer;
}
@media (max-width: 1500px) {
  * {
    text-align: center;
    margin-right: 700px;
    margin-bottom: 200px;
  }
  .pf1 {
    margin-left: 350px;
    width: 30%;
  }
  .signupgooglef1 {
    margin-left: 350px;
  }
  .signupfacebookf1 {
    margin-left: 350px;
  }
  .loginf1 {
    margin-left: 350px;
  }
  .signupf1 {
    margin-left: 350px;
  }
  .h1f1 {
    text-align: center;
    margin-right: 700px;
  }
  .h3f1 {
    text-align: center;
    margin-right: 700px;
  }
  .backf1 {
    position: fixed;
    margin-top: 900px;
  }
}
