/* Styling SignUp Page
 @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(219, 217, 217);
  line-height: 1.2;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 450px;
  height: 580px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
header {
  display: inline-block;
  margin-top: -400px;
  margin-left: -100px;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  position: fixed;
}
input {
  position: relative;
  width: 400px;
  height: 50px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: #00acee;
  margin-left: -290px;
}
a:hover {
  text-decoration: underline;
}
h4 {
  margin-bottom: 5px;
  margin-left: -320px;
}
p {
  margin-top: 0;
  font-size: 15px;
  color: rgba(67, 67, 67, 0.722);
  margin: 10px 20px;
}
input {
  margin: 15px;
  display: block;
}
input:focus {
  border: 1px solid #00acee;
}
button {
  width: 400px;
  height: 50px;
  background-color: rgb(141, 140, 140);
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  transition: all 0.2s ease;
  color: #fff;
  position: fixed;
  margin-bottom: -450px;
}
.Dropdown {
  display: flex;
}
select {
  border: 1px solid rgb(211, 210, 210);
  border-radius: 5px;
}
.month {
  width: 190px;
  height: 50px;
}
.day {
  width: 80px;
  height: 50px;
  margin-left: 15px;
}
.year {
  width: 100px;
  height: 50px;
  margin-left: 15px;
}
select {
  cursor: pointer;
  font-size: 12px;
  color: rgba(67, 67, 67, 0.722);
} */
