@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Styling Start Page*/
* {
  font-family: "Lato", sans-serif;
}
.rightf1 > .backf1 {
  height: 740px;
  width: auto;
  }
.upf1 {
  display: flex !important;
}
.h1f1 {
  font-size: 70px ;
  margin-top: 140px;
}
.h3f1 {
  font-size: 45px;
  margin-top: 40px;
}
.leftf1 {
  margin-left: 100px;
  margin-top: -20px;
}
.signupgooglef1 {
  margin-bottom: 20px;
  margin-left: 10px;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 15px;
  color: rgb(78, 78, 78);
}
.signupfacebookf1 {
  margin-bottom: 20px;
  margin-left: 10px;
  text-decoration: none;
  display: block;
  width: 300px;
  height: 40px;
  background-color: #fff;
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 15px;
  color: rgb(78, 78, 78);
}
.footerf1 {
  background-color: red;
}