/*Styling VerifyCode Page*/
.backv {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 90%;
}
.containerv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 500px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.h1v {
  margin-top: -450px;
  position: fixed;
  text-align: center;
  margin-left: -100px;
}
.infov {
  margin-top: -360px;
  position: fixed;
  margin-left: 110px;
}
.backav {
  margin-bottom: 550px;
  margin-left: -450px;
  color: grey;
}
.boxv {
  margin-top: -240px;
  width: 400px;
  height: 55px;
  outline: none;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 4px;
  padding-left: 10px;
  position: fixed;
}
.nextbtnv {
  width: 400px;
  height: 50px;
  background-color: rgb(141, 140, 140);
  outline: none;
  font-weight: bold;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 20px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  transition: all 0.2s ease;
  color: #fff;
  position: fixed;
  margin-top: 470px;
  font-size: 16px;
}
.nextbtnv:hover {
  background: #292929f7;
  cursor: pointer;
}
.didntv {
  color: #00acee;
  text-decoration: none;
  position: inherit;
  margin-bottom: 150px;
  margin-right: -100px;
  font-size: 14px;
}
/*Hovering*/
.backav:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  border: 1px solid rgb(236, 236, 236);
}
.boxv:focus {
  border: 1px solid #00acee;
  font-size: 18px;
}
.didntv:hover {
  cursor: pointer;
  text-decoration: underline;
}
